@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title:</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ribeirão Preto - SP<br />
    Rua Euclides da Cunha,745<br />
    <abbr title="Celular"></abbr>
    +55 16 9-8218-6558
</address>

<address>
    <strong>Contato:</strong>   <a href="mailto:cassio.fernando@live.com">cassio.fernando@live.com</a><br />
</address>