@{
    ViewBag.Title = "Pagina Principal";
}

<div class="jumbotron">
    <h1>MVC</h1>
    <p class="lead">Model-view-controller (MVC), em português modelo-visão-controlador, é um padrão de arquitetura de software (design pattern) que separa a representação da informação da interação do usuário com ele. O modelo (model) consiste nos dados da aplicação, regras de negócios, lógica e funções. Uma visão (view) pode ser qualquer saída de representação dos dados, como uma tabela ou um diagrama. É possível ter várias visões do mesmo dado, como um gráfico de barras para gerenciamento e uma visão tabular para contadores. O controlador (controller) faz a mediação da entrada, convertendo-a em comandos para o modelo ou visão. As ideias centrais por trás do MVC são a reusabilidade de código e separação de conceitos.</p>
    <p><a href="https://docs.asp.net" class="btn btn-primary btn-lg">Saiba mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>CSS3</h2>
        <p>
            CSS3 é a segunda mais nova versão das famosas Cascading Style Sheets (ou simplesmente CSS), onde se define estilos para páginas web com efeitos de transição, imagem, e outros, que dão um estilo novo às páginas Web 2.0 em todos os aspectos de design do layout.
        </p>
        <p><a class="btn btn-default" href="https://www.w3schools.com/css/css3_intro.asp">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>JQuery</h2>
        <p>jQuery é uma biblioteca de código aberto e possui licença dual, fazendo uso da Licença MIT ou da GNU General Public License versão 2.[4] A sintaxe do jQuery foi desenvolvida para tornar mais simples a navegação do documento HTML, a seleção de elementos DOM, criar animações, manipular eventos, desenvolver aplicações AJAX e criação de plugins sobre ela. Tais facilidades permitem aos desenvolvedores criarem camadas de abstração para interações de baixo nível de modo simplificado em aplicações web dinâmicas de grande complexidade.</p>
        <p><a class="btn btn-default" href="https://jquery.com/">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>BootStrap</h2>
        <p>Bootstrap é um framework front-end que facilita a vida dos desenvolvedores web a criar sites com tecnologia mobile (responsivo) sem ter que digitar uma linha de CSS para “fazer e acontecer”.</p>
        <p><a class="btn btn-default" href="http://getbootstrap.com/">Saiba mais &raquo;</a></p>
    </div>
</div>